apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: tfe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:26.5.1
          args:
            - start-dev
          ports:
            - containerPort: 8080
          env:
            - name: KC_BOOTSTRAP_ADMIN_USERNAME
              value: admin
            - name: KC_BOOTSTRAP_ADMIN_PASSWORD
              value: admin             
            - name: KC_HOSTNAME
              value: keycloak.local
            - name: KC_HOSTNAME_STRICT
              value: "true"
            - name: KC_PROXY
              value: edge
            - name: KC_HOSTNAME_PORT
              value: "8888"
